<html>
head
    title Home
    style.
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
        }
body
    div
        form#logout(method="POST" action="/logout")
            input(type="submit" value="Logout")
        form#addFriend(method="GET" action="/addFriend")
            input(type="submit" value="Add Friend")
        form#addContent(method="GET" action="/addcontent")
            input(type="submit" value="Add Content")
        form#addTag(method="GET" action="/addTag")
            input(type="submit" value="Add Tag")
        form#proposedTags(method="GET" action="/proposedtags")
            input(type="submit" value="Review proposed tags")
        form#createGroup(method="GET" action="/createfriendgroup")
            input(type="submit" value="Create Friend Group")
        form#removeFriendfromGroup(method="GET" action="/deleteFriend")
            input(type="submit" value="Delete Friend")
    h1 Welcome, #{user.username}!
    main#content: table
        tr
            th ID
            th Content
            th Author
            th Posted at
            th Comments & Tags
        for item in content.sort((p, c) => p.timest < c.timest)
            tr
                th=item.id
                td: a(href=item.file_path target="_blank")=item.content_name
                td=item.username
                td=new Date(item.timest).toLocaleString("en-US")
                td: a(href=`/content?id=${item.id}`) More...

</html>